{% extends 'base.html' %}

{% block title %}{{ pokemon.name | capfirst }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Detalles del Pokémon</h2>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name | capfirst }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Tipo: {{ pokemon.get_type_display }}</h6>
        <p class="card-text">
            <strong>Peso:</strong> {{ pokemon.weight }} kg <br>
            <strong>Altura:</strong> {{ pokemon.height }} m <br>
            <strong>Entrenador:</strong>
            {% if pokemon.trainer %}
                <a href="{% url 'trainer' id=pokemon.trainer.id %}">{{ pokemon.trainer.first_name }} {{ pokemon.trainer.last_name }}</a>
            {% else %}
                Sin entrenador
            {% endif %}
        </p>
        <a href="{% url 'index' %}" class="btn btn-primary">Volver al inicio</a>
      </div>
    </div>
</div>
{% endblock %}
