{% extends 'base.html' %}

{% block title %}{{ trainer.first_name }} {{ trainer.last_name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Detalles del Entrenador</h2>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ trainer.first_name }} {{ trainer.last_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Ciudad: {{ trainer.city }}</h6>
        <p class="card-text">
            <strong>Nivel:</strong> {{ trainer.level }} <br>
            <strong>Fecha de nacimiento:</strong> {{ trainer.birth_date|date:"d/m/Y" }}
        </p>
        <a href="{% url 'index' %}" class="btn btn-primary">Volver al inicio</a>
      </div>
    </div>
</div>
{% endblock %}
