{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container mt-4">
  <p class="p-2">Bienvenido a tu Pokedex</p>
  
  <h3>Los Pokémons</h3>
  <ul class="list-group">
    {% for pokemon in pokemons %}
    <li class="list-group-item">
      <a href="{% url 'pokemon' id=pokemon.id %}">{{ pokemon.name | capfirst }}</a>
    </li>
    {% endfor %}
  </ul>

  <h3 class="mt-4">Los Entrenadores</h3>
  <ul class="list-group">
    {% for trainer in trainers %}
    <li class="list-group-item">
      <a href="{% url 'trainer' id=trainer.id %}">{{ trainer.first_name }} {{ trainer.last_name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
